@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Baloo+2:wght@700&family=Nunito&family=Roboto&display=swap');

.text-arvo {
    font-family: 'Arvo', serif;
}

.text-baloo {
    font-family: 'Baloo 2', cursive;
}

.text-nunito {
    font-family: 'Nunito', sans-serif;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-opacity-10 {
    opacity: 0.1;
}

.text-opacity-50 {
    opacity: 0.5;
}