@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Baloo+2:wght@700&family=Nunito&family=Roboto&display=swap');

.text-arvo {
    font-family: 'Arvo', serif;
}

.text-baloo {
    font-family: 'Baloo 2', cursive;
}

.text-nunito {
    font-family: 'Nunito', sans-serif;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-8 {
    font-size: 2rem;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-50 {
    opacity: 0.5;
}

.rounded-2xl {
    border-radius: 1rem;
}

.rounded-4xl {
    border-radius: 2rem;
}